<!DOCTYPE html>
<html lang="en">
  <%- include("./partial/head") %>
  <body>
    <%- include("./partial/navbar") %>
    <div class="header">
      <h1>About Our blog</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, cum?
        Earum impedit molestias similique totam eos dolor dolore suscipit
        doloribus. Natus quia, soluta esse iusto nostrum nisi doloribus
        recusandae repellat!
      </p>
    </div>
  </body>
</html>
