<head>
  <title>Blog Post | <%= title %></title>
  <link rel="stylesheet" href="/style.css" />
  <script
    src="https://kit.fontawesome.com/f33a1483e3.js"
    crossorigin="anonymous"
  ></script>
  <!-- Note: using / in /style.css is crucial -->
</head>
