<nav>
  <div class="logo">BLOG POST</div>
  <div class="nav-links">
    <a href="/" class=<%= activeLink === "home"? 'active': '' %>> Home</a>
    <a href="/about"  class=<%= activeLink === "about"? 'active': '' %>>About</a>
    <a href="/create-blog"  class=<%= activeLink === "create-blog"? 'active': '' %>>Create Blog</a>
  </div>
</nav>
